body{
	background-image: url(unnamed.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
	background-color: lightsteelblue;
	background-size: 20%;
}

p{
	color: black;
	font-size: 200%;
	font-family: 'Comforter Brush', cursive;
} 
th{
	color: purple;
}
ol{
	background-color: lightsteelblue;
}